dynamic-des[parquet]
pyiceberg[s3fs]
wrenai[trino,memory,main,mcp]
strands-agents
strands-agents-tools
litellm[proxy]
boto3
mem0ai[nlp]
fastembed
valkey>=6.0.0
redisvl
opentelemetry-api
python-dotenv
git+https://github.com/jaehyeon-kim/odctl.git@v0.0.3
